html { /* size html */
    width: 100%;
    margin: 0px;
    height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  
}

body { /* set background color transition*/
    transition: background-color .5s;
    margin: 0px;
    height: 100%;
    overflow-x: hidden; /* stops scrolling */
    overflow-y: hidden; /* stops scrolling */
    
}

#NavBar { /* Style navigation bar on top of canvas */
    margin: 0px;
    height: 46px;
    width: 412px;
    background-color: #303F9F;
    padding-top: 10px; /* make sure symbols are placed correctly*/
     box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#OpnNavBtn { /* styling of opnnavbtn */
    float: left;
    padding-top: 0px;
    color: white;
    font-size: 36px;
    transition: 0.5s;
}


.sidenav { 
    height: 100%;
    width: 0; /* changes with javascript */
    position: fixed;
    z-index: 1; /* sidenav stays on top */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden; /* stops scrolling */
    transition: 0.5s;
    padding-top: 56px; /* first button (black), has same padding as navbar */
    
}

#closenavbutton { /* positions closenavbtn */
    padding: 9px 0px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s
}

.sidenav #closenavbutton {
    position: absolute;
    top: 0;
    right: 18px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s; /* ensures smooth transition of main */
    margin: 0px;
}


/*BUTTONS*/

#Button {
    width: 100%; /* whole width of sidenav */
    height: 50px; /* main height of buttons */
    border: none; /* removes normal button border */
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
}

#Button:focus {
    outline: 0; /* removes button focus border */
}

.black {
    background-color: #212121;
    color: #757575;
    box-shadow: inset 0px 36px 24px -44px rgba(0, 0, 0, 0.4);
}

.blue {
    background-color: #2196F3;
    color: #1976D2;
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

.green {
    background-color: #4CAF50;
    color: #388E3C;
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

.colorred {
    background-color: #F44336;
    color: #D32F2F;
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

.clr {
    background-color: #757575;
    color: #212121;
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

#ChangeSize { /* main div for btn's that change strokesize */
    width: 100%;
    height: 50px;
    float: left;
    font-family: "Roboto";
    font-weight: 500;
    text-align: center;
    color: white;
}

#SizeDown {
    background-color: #212121;
    height: 48px;
    float: left;
    width: 33%;
    font-size: 48px;
    padding-top: 2px; /* padding is 2px, and height is 48px, so the arrow is moved down, since its text*/
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

#CounterDisplay {
    background-color: #2c2c2c;
    height: 34px;
    float: left;
    width: 34%;
    font-size: 24px;
    padding-top: 16px;
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

#SizeUp {
    background-color: #212121;
    height: 48px;
    float: left;
    width: 33%;
    font-size: 48px;
    padding-top: 2px;
    box-shadow: inset 0px 40px 24px -44px rgba(0, 0, 0, 0.4);
}

#ChangeMode {
    background-color: #303F9F;
    width: 100%;
    height: 50px;
    
}

